/* PHASE 6: Sidebar */

.profile-picture {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: -110px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: 1px solid black;
  border-radius: 5px;
}

.content-sidebar > p {
  padding-bottom: 20px;
}

.profile-nav > li {
  display: block;
}

.profile-nav > li:hover {
  background: #eee;
}

.profile-nav > li:last-child {
  border-bottom: 1px solid #aaa;
}

.profile-nav {
  padding-bottom: 20px;
}

.content-sidebar > h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

.profile-nav a {
  display: block;
  padding: 5px;
  font-weight: 700;
  border-top: 1px solid #aaa;
}
